# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.env
.env.local
VITE_SUPABASE_URL=https://rdwjxndbuefhtmclifwn.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJkd2p4bmRidWVmaHRtY2xpZnduIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzODk2NjgsImV4cCI6MjA3ODk2NTY2OH0.dfpBOPWBjewtgP53pYa06J2-s5bidEHVmw5gcg8sDJ4

